@font-face {
    font-family: 'Gabarito-Regular';
    src: url('../fonts/Gabarito-Regular.ttf');
  }
  
* {
    margin: 0;
    padding: 0;
    font-family: 'Gabarito-Regular';
}

html,body{
    height: 100%;
    width: 100%;

}

body{
    background-image: url('../img/wallpaper.jpg');
    background-size: cover;
}


.container{
    width: 1200px;
    margin: auto;
    
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition:0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.container header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}

.container header .shopping{
    margin-top: 40px;
    position: relative;
    text-align: right;
}

.shopping i{
    font-size: 3rem;
    color:rgb(218, 203, 203);
    cursor: pointer;
    transition: all;
    -webkit-transition: all 0.25s ease;
    -moz-transition:all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;

}

.shopping :hover{
    color: #071e58;
}

.shopping span{
    background: red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%; 
    -ms-border-radius: 50%;
    -o-border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    color:#fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px
}


.card{
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #dadada;
    border-left: 1px solid #560bad; 
    height: 100vh;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.active .card{
    left: calc(100% - 500px);
}

.active .container{
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
}

.card h1{
    color: #560bad;
    font-weight: 300;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card .checkOut div{
    background-color: #560bad;
    color: white;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkOut div:nth-child(2){
    background-color: #1c1f25;
    color: white;  
}

.list .item{
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease; 
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease; 
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
}

.list .item:hover{
    background-color: #560bad;
    
}
.btn-wps{
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    bottom: 25px;
    right: 25px;
    background: #04a136;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0,0.3);
    z-index: 100;
}

.btn-wps:hover{
    text-decoration: none;
    color: #0df053;
    background: white;
}

.marcas .marcaslog{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.marcas .eslogan{
    font-size: 40px;
    margin: 30px 30px;
    color: rgb(218, 203, 203);
    text-align: center;
}

.marcas img{
    max-width: 100%;
    height: 100px;
    margin: 10px 10px;
}

.titulo{
    font-size: 30px;
    color: rgb(218, 203, 203);
    margin-left: 50px;
}

.catalogo h1{
    color: rgb(218, 203, 203);
    text-align: center;
    font-size: 35px;
}

.logo{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 130px;

}


section{
    display: flex;
    justify-content: center;
    align-items: center;

}


.list {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
/* deben ponerse en una sola linea */

.list .cartas {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #e0d8d8;
    margin: 30px 10px;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0,5);
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}

/* debe estar en colunma la informacion */
.list .cartas:hover {
    height: 400px;
}

/* para cuando el usuario pase el mouse por la foto */
.list .cartas .img {
    
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0,5);
}

.list .cartas .img img {
    max-width: 100%;
    border-radius: 4px;
}

.list .cartas .informacion {
    position: relative;
    margin-top: -140px;
    padding: 5px 10px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.list .cartas:hover .informacion {
    visibility: visible;
    opacity: 1;
    margin-top: -90px;
    transition-delay: 0.3s;
}

.list .item button{
    background-color: #cfcbcb;
    color:  #20419e;
    font-size: 1rem;
    font-weight: 300;
    width: 50%;
    padding: 5px;
    border: 3px solid #20419e;
    border-radius: 10px;
}

.list .item button:hover{
    background-color: #20419e;
    color:#cfcbcb;
}

.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}

.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;

}

.listCard li img{
    width: 90%;
}

.listCard .count {
    margin: 0px 10px;
    color: #1f1f25;
}

.cardTitle,
.cardPrice{
    color: #1f1f25;
}

.cardButton{
    width: 28px;
    height: 28px;
    color: #efefef;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius:50%;
    -webkit-border-radius: 50%;
    -moz-boder-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;

}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: #071e58;
    text-align: center;
    color: white;
}

.redes-sociales{
    margin: 10px 10px;
    display: flex;
    justify-content: center;   
    text-decoration: none;
}

.redes-sociales i{
    font-size: 30px;
    padding: 0 20px;
    text-decoration: none;
    color: white;
}

